
.add-product-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-product-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .add-product-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-product-form input[type='text'],
  .add-product-form input[type='number'],
  .add-product-form textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize:none;
  }
  
  .add-product-form button {
    padding: 10px 15px;
    background-color: #049372;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-product-form button:hover {
    background-color: #006442;
  }
  