
.product {
    width: 100%;
    padding: 20px;
    background-color: #CCCCCC;/*#CCCCCC/*/
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .product img {
    width: 100%;
  }
  
  .product h3 {
    font-size: 1.4rem;
    margin: 10px 0;
    color: #333;
  }
  
  .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #a87e47;
  }
  .product-buttons{
    display:flex;
    flex-direction: row;
    gap:5px;
  }
  
  .add-to-cart-button,.details-button {
    background-color: 	#D2B48C;
    color: #fff;
    border: none;
    padding: 6px 6px;
    font-size: 1.1rem;
    margin-top:15px;
    border-radius: 5px;
    width:150px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .add-to-cart-button:hover,.details-button:hover {
    background-color: #956629;
  }
  .description{
    font-size:1rem;
  }