
.add-review-page {
    flex-grow:1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
 .add-review-page h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
 .add-review-page form {
    display: flex;
    flex-direction: column;
  }
  
  .add-review-page label {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
 .add-review-page select,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 .add-review-page textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  .submit-review-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .submit-review-button:hover {
    background-color: #0056b3;
  }
  