.add-review {
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
}

.add-review h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-review form {
  display: flex;
  flex-direction: column;
}

.add-review label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.add-review select,
.add-review textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0;
}

.add-review textarea {
  resize: vertical;
  min-height: 5rem;
}

.leave {
  background-color: rgb(45, 44, 44);
  color: white;
  border: 2px solid rgb(45, 44, 44);
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms;
}

.leave:hover {
  background-color: white;
  color: rgb(45, 44, 44);
}
