.edit-product {
  margin-block: 3rem;
  margin-inline: auto;
  max-width: 400px;
  font-size: 1.4rem;
}
.edit-product h3 {
  text-align: center;
  font-size: 2.4rem;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
.input input,
.input select,
.input textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.form form {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}
