
.not-found-container{
display:flex;
justify-content:center;
align-items:center;
height:78vh;
background-color:#f7f7f7;
}
.not-found-content{
text-align:center;
}

h1{
font-size:3em;
color:#007bff;
}
p{
font-size:1.5em;
margin-top:20px;
}