.product-list{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
padding:20px;
}
.product{
width:300px;
margin:20px;
padding:10px;
border:1pxsolid#ddd;
background-color:#fff;
text-align:center;
border-radius:10px;
box-shadow:0010pxrgba(0,0,0,0.2);
transition:transform0.2s;
}

.product:hover{
transform:translateY(-5px);
box-shadow:0020pxrgba(0,0,0,0.4);
}

.productimg{
width:100%;
border-top-left-radius:10px;
border-top-right-radius:10px;
}

.producth3{
font-size:1.5em;
margin:10px0;
}

.price{
font-size:1.4em;
font-weight:bold;
}

.add-to-cart-button{
background-color:#0056b3;
color:#fff;
border:none;
padding:10px20px;
font-size:1.2em;
border-radius:5px;
cursor:pointer;
transition:background-color0.3s;
}

.add-to-cart-button:hover{
background-color:#003080;
}
