.auth-container{
display:flex;
justify-content:center;
align-items:center;
margin:20pxauto;
}

.register-form{
display:flex;
flex-direction:column;
gap:20px;
background-color:#fff;
padding:20px;
border:1pxsolid#ddd;
border-radius:10px;
box-shadow:0010pxrgba(0,0,0,0.1);
width:300px;
}
.auth-container{
padding:70px;
}
.register-formform{
display:flex;
flex-direction:column;
gap:15px;
font-size:20px;
}
.register-formforminput{
height:25px;
}
.register-formformbutton{
padding:14px;
border:none;
border-radius:5px;
color:white;
background-color:#007bff;
}
.register-form{
width:250px;
}