.reviews {
  margin-block: 3rem;
}
.reviews h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.no {
  font-size: 1.4rem;
}
