.edit-product-page{
    flex-grow: 1;
  }
  .edit-product-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    .edit-product-form h2 {
      text-align: center;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .edit-product-form label {
      display: block;
      margin-bottom: 5px;
    }
    
    .edit-product-form input[type='text'],
    .edit-product-form input[type='number'],
    .edit-product-form textarea {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
      resize:none;
    }
    
    .edit-product-form button {
      padding: 10px 15px;
      background-color: #049372;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .edit-product-form button:hover {
      background-color: #006442;
    }
    