
.product-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin: 20px;
  }
  .product-page{
    flex-grow:1;
    display:flex;
  }
  .product-list>h2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px ;
  }