
.cart-page {
   flex-grow:1;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-page h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:30px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    width: 250px;
    height:180px;
  }
  
  .item-info {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .item-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
    font-size: 24px;
    align-self: center;
  }
  
  .checkout-button {
    display: block;
    margin-top: 20px;
    background-color: #049372;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .checkout-button:hover {
    background-color: #006442;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #049372;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}
.remove-button {
  position: absolute;
  background-color:#ff0000;
  color:white;
  border-radius: 5px;
  border:none;
  width:20px;
  height:20px;
  top:0;
  right:0;
  margin:5px;
  transition: background-color 0.3s;
}
.remove-button:hover{
  background-color:#ab1111;
}
.top-info{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-info img{
  width:100px;
  height:80px;
  margin:5px;
}