footer {
    position: relative;
    bottom:0;
    left: 0;
    right: 0; 
    background: none; 
    text-align: center;
    background-color: 	#363636;
    padding:0.2rem;
  }
  
  .footer-logo {
    font-size: .4; 
    font-weight: bold;
    color:#fff;
}
