input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left:20px;
  gap:10px;
}
.search-bar input[type="Number"]{
  width: 100%;
  max-width:100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-bar input,select {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}
.search-bar input:focus{
  outline-style: solid;
  outline-color: #a87e47;
}

.search-bar button {
  background-color: #D2B48C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #a87e47;
}

.search-bar .price-div{
  display:flex;
  flex-direction: column;
}
.search-bar .price-div>h2,.search-bar .category-div>h2,.search-bar .search-div>h2{
  font-size: 15px;
}