
.not-found-container{
flex-grow: 1;
display:flex;
justify-content:center;
align-items:center;
}
.not-found-content{
text-align:center;
}

h1{
font-size:3em;
color:#000000;
}
p{
font-size:1.5em;
margin-top:20px;
}