
header{
background-color:	#D2B48C;/*007bff  #1a7332   */
color:#fff;
padding:20px 0;
height : 10%;
}

.logo {
    font-size: 1.5em;
    color: #fff; 
    font-weight: bold; 
    text-transform: uppercase;
  }

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
}

.nav-links li{
display:inline;
margin-right:20px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:#fff;
font-weight:bold;
transition:color 0.3s;
}

.nav-links a:hover{
color:#956629;
}
.cart{
display:flex;
align-items:center;
}

.cart i{
font-size:24px;
margin-right:5px;
}

.cart a{
text-decoration:none;
color:#fff;
font-weight:bold;
transition:color 0.3s;
}

.cart a:hover{
color:#956629;
}
