.login {
  max-width: 400px;
  font-size: 1.4rem;
  margin-block: 3rem;
  padding: 1rem;
}
.login h3 {
  text-align: center;
  font-size: 2.4rem;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}
.input input {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.form form {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}
.errors {
  display: flex;
  flex-direction: column;
}
.error {
  color: rgb(177, 64, 64);
  font-style: italic;
}
.demo {
  font-size: 1rem;
}
.register{
  font-weight: bold;
}
.register:hover,.register:focus{
  text-decoration: underline;
}
