.register-container{
flex-grow: 1;
display:flex;
justify-content:center;
align-items:center;
margin:20px auto;
padding:70px;

}

.register-form{
display:flex;
flex-direction:column;
gap:20px;
background-color:#fff;
padding:20px;
border:1px solid #ddd;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:250px;
}
.register-form form{
display:flex;
flex-direction:column;
gap:15px;
font-size:20px;
}
.register-form form input{
height:25px;
}
.register-form form button{
padding:14px;
border:none;
border-radius:5px;
color:white;
background-color:#007bff;
}