.register-container{
flex-grow: 1;
display:flex;
justify-content:center;
align-items:center;
padding:60px;

}
.register-form{
display:flex;
flex-direction:column;
align-items: center;
background-color:#fff;
color:#000000;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
width:400px;
height:470px;
}
.register-form form{
display:flex;
flex-direction:column;
gap:30px;
font-size:20px;
}
.register-form form div{
  margin-top:10px;
}

.register-form h2{
  align-self: center;
  }

.register-form form .form-inputs div{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.register-form form input{
height:25px;
width:250px;
padding:10px;
height:2rem;
border-radius: 4px;
outline: none;
border: 3px solid #ddd;
transition: 0.5s;
}
.register-form form input:focus{
  border: 3px solid #049372;
}
.register-form form button{
padding:10px;
border:none;
border-radius:5px;
color:white;
font-size: 20px;
background-color:#049372;
transition: background-color 0.3s;
cursor: pointer;
}
.register-form form button:hover {
    background-color: #006442;
  }